Cython==0.28.2
Django>=2.0.10,>=2.1.5
hug==2.4.0
jupyter==1.0.0
matplotlib==2.2.2
numpy==1.14.3
pandas==0.23.0
pytest==3.6.1
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.8.1
sqlparse==0.2.4
statsmodels==0.9.0
